---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Pinky Amor Animal: Un Refugio Virtual para Nuestros Amigos Peludos"
  description="En Pinky, creemos que cada animal merece un hogar lleno de amor. Únete a nosotros en la lucha contra el abandono y el maltrato animal en Cuba. Desde reportar casos hasta adoptar a un nuevo compañero, Pinky es tu plataforma solidaria para marcar la diferencia en la vida de aquellos que no pueden hablar por sí mismos."
>
  <main>
    <h1>Pinky</h1>
  </main>
</BaseLayout>
