---
import Logo from '@/components/Logo.astro';
---

<header id="header-nav" class="fixed top-0 z-50 w-full px-6 py-1">
  <div class="flex items-center justify-between gap-16">
    <div class="items- mx-auto flex flex-1 items-baseline gap-3">
      <Logo id="logo-navbar" width="70px" height="75px" />
      <h1 id="text-logo-navbar" class="text-5xl font-bold text-white">Pinky</h1>
    </div>
    <nav
      id="header-menu"
      class="h-dvh fixed inset-0 flex w-full -translate-y-full flex-col items-center justify-center gap-8 bg-[#151a36]/90 text-2xl transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:translate-y-[initial] md:flex-row md:bg-[initial] md:text-xl"
    >
      <a href="#nosotros" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">Nosotros</a>
      <a href="#ayuda" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">Ayuda</a>
      <a href="#blog" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">Blog</a>
      <a href="#contact" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">Contacto</a>
    </nav>
    <!-- redes sociales  -->
    <div class="flex items-center gap-3">
      <a href="#facebook" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="currentColor"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
        >
          <path
            d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"
          ></path>
          <span class="sr-only">Facebook</span>
        </svg>
      </a>
      <a href="#instagram" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="currentColor"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
        >
          <path
            d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
          ></path>
          <span class="sr-only">Instagram</span>
        </svg>
      </a>
      <a href="#twitter" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="currentColor"
          viewBox="0 0 50 50"
          width="50px"
          height="50px"
        >
          <path
            d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M36.237,20.524 c0.01,0.236,0.016,0.476,0.016,0.717C36.253,28.559,30.68,37,20.491,37c-3.128,0-6.041-0.917-8.491-2.489 c0.433,0.052,0.872,0.077,1.321,0.077c2.596,0,4.985-0.884,6.879-2.37c-2.424-0.044-4.468-1.649-5.175-3.847 c0.339,0.065,0.686,0.1,1.044,0.1c0.505,0,0.995-0.067,1.458-0.195c-2.532-0.511-4.441-2.747-4.441-5.432c0-0.024,0-0.047,0-0.07 c0.747,0.415,1.6,0.665,2.509,0.694c-1.488-0.995-2.464-2.689-2.464-4.611c0-1.015,0.272-1.966,0.749-2.786 c2.733,3.351,6.815,5.556,11.418,5.788c-0.095-0.406-0.145-0.828-0.145-1.262c0-3.059,2.48-5.539,5.54-5.539 c1.593,0,3.032,0.672,4.042,1.749c1.261-0.248,2.448-0.709,3.518-1.343c-0.413,1.292-1.292,2.378-2.437,3.064 c1.122-0.136,2.188-0.432,3.183-0.873C38.257,18.766,37.318,19.743,36.237,20.524z"
          ></path>
          <span class="sr-only">Twitter</span>
        </svg>
      </a>
      <a href="#whatsapp" class="text-[#00CEE7] transition duration-300 ease-in-out hover:text-[#08ABBB]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-7 w-7"
          fill="currentColor"
          viewBox="0 0 64 64"
          width="64px"
          height="64px"
        >
          <path
            d="M 32 8 C 18.745 8 8 18.297 8 31 C 8 35.509 9.3592187 39.711719 11.699219 43.261719 L 10 56 L 25.400391 53.111328 C 27.497391 53.685328 29.71 54 32 54 C 45.255 54 56 43.703 56 31 C 56 18.297 45.255 8 32 8 z M 32 11.429688 C 37.802 11.370688 43.591453 13.937797 47.439453 18.341797 C 51.323453 22.721797 53.027062 28.950328 51.914062 34.736328 C 50.849062 40.554328 46.923047 45.673609 41.748047 48.474609 C 36.692047 51.185609 30.484922 51.702016 25.044922 49.791016 L 15.263672 51.964844 L 13.734375 52.304688 L 14.023438 50.783203 L 14.023438 50.78125 L 15.373047 42.560547 C 14.511047 41.180547 13.781562 39.733609 13.226562 38.224609 C 12.614562 36.480609 12.2085 34.673703 12.0625 32.845703 C 11.9905 31.931703 11.975828 31.016469 12.048828 30.105469 C 12.065828 29.189469 12.221953 28.286719 12.376953 27.386719 C 12.768953 25.607719 13.316266 23.845141 14.197266 22.244141 C 15.040266 20.632141 16.076563 19.106734 17.351562 17.802734 C 17.947563 17.110734 18.668797 16.544641 19.341797 15.931641 C 20.079797 15.398641 20.785891 14.814953 21.587891 14.376953 C 24.691891 12.444953 28.354 11.501688 32 11.429688 z M 31.996094 14 C 28.803094 14.024 25.583078 14.795031 22.830078 16.457031 C 22.117078 16.830031 21.494937 17.339875 20.835938 17.796875 C 20.240938 18.331875 19.588406 18.814734 19.066406 19.427734 C 17.935406 20.568734 17.022437 21.909266 16.273438 23.322266 C 14.783437 26.167266 14.210203 29.447094 14.533203 32.621094 C 14.895203 35.790094 16.296266 38.815844 18.447266 41.089844 L 18.447266 41.091797 L 18.912109 41.662109 L 18.728516 42.316406 L 16.832031 49.046875 L 24.908203 46.427734 L 24.910156 46.425781 L 25.347656 46.285156 L 25.8125 46.46875 C 30.4305 48.28775 35.818422 47.956875 40.232422 45.671875 C 44.627422 43.360875 48.009703 39.080781 48.970703 34.175781 C 49.971703 29.284781 48.613266 23.975203 45.322266 20.158203 C 42.058266 16.325203 37.078094 14.017 31.996094 14 z M 24.392578 21.248047 C 24.958578 21.250047 26.5625 21.248047 26.5625 21.248047 L 28.732422 26.671875 C 27.960422 27.880875 27.166797 28.555844 26.591797 29.214844 C 26.912797 29.996844 28.228156 31.947406 29.785156 33.316406 C 31.792156 35.076406 33.531437 35.898625 34.773438 36.140625 C 35.423437 35.656625 37.063109 33.699641 37.412109 33.181641 L 42.835938 35.351562 C 42.835937 36.436562 42.695906 37.008797 42.253906 38.216797 C 41.819906 39.424797 39.726844 40.528828 38.714844 40.673828 C 37.812844 40.809828 36.673063 40.861703 35.414062 40.470703 C 34.657063 40.232703 33.679688 39.916859 32.429688 39.380859 C 27.173687 37.135859 23.738609 31.913453 23.474609 31.564453 C 23.219609 31.224453 21.339844 28.757844 21.339844 26.214844 C 21.339844 23.671844 22.690781 22.413531 23.175781 21.894531 C 23.651781 21.375531 24.044578 21.246047 24.392578 21.248047 z"
          ></path>
          <span class="sr-only">WhatsApp</span>
        </svg>
      </a>
    </div>
  </div>
</header>
